<?xml version="1.0"?>
<launch>
   <arg name="rviz" default="true" />

   <include file="$(find cu_kinova_description)/launch/upload_description.launch" />

    <include file="$(find kortex_driver)/launch/kortex_arm_driver.launch">
        <arg name="ip_address" value="left-arm"/>
        <arg name="arm" value="gen3"/>
        <arg name="gripper" value="robotiq_2f_85"/>
        <arg name="prefix" value="left_"/>
        <arg name="robot_name" value="left"/>
    </include>
    <include file="$(find kortex_driver)/launch/kortex_arm_driver.launch">
        <arg name="ip_address" value="right-arm"/>
        <arg name="arm" value="gen3"/>
        <arg name="gripper" value="robotiq_2f_85"/>
        <arg name="prefix" value="right_"/>
        <arg name="robot_name" value="right"/>
    </include>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">[base_feedback/joint_state]</rosparam>
        <param name="rate" value="40" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include if="$(arg rviz)" file="$(dirname)/rviz.launch" />
</launch>
