<?xml version="1.0"?>
<launch>
    <node pkg="spacenav_ros" type="spacenav_node" name="spacenav" ns="left/spacemouse">
        <param name="device" value="SpaceExplorer"/>
        <param name="frame_id" value="spacemouse_left"/>
    </node>
    <node pkg="spacenav_ros" type="spacenav_node" name="spacenav" ns="right/spacemouse">
        <param name="device" value="SpaceMouse Compact"/>
        <param name="frame_id" value="spacemouse_right"/>
    </node>
</launch>
