<?xml version="1.0"?>

<robot name="dual_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro" />

    <link name="world" />
    <joint name="world_to_left_base" type="fixed">
        <child link="left_base_link" />
        <parent link="world" />
        <!-- Here you can change the origin of the left arm-->
        <origin xyz="0 0 0" rpy="0 0 0" />    
    </joint> 
    <joint name="world_to_right_base" type="fixed">
        <child link="right_base_link" />
        <parent link="world" />
        <!-- Here you can change the origin of the right arm -->
        <origin xyz="0.793 -0.054 -0.015" rpy="0 0 3.0997" />    

    </joint>

    <xacro:load_robot 
        arm="gen3"
        gripper="robotiq_2f_85"
        dof="7"
        vision="true"
        sim="false"
        prefix="left_"
    />

    <xacro:load_robot
        arm="gen3"
        gripper="robotiq_2f_85"
        dof="7"
        vision="true"
        sim="false"
        prefix="right_"
    />
</robot>