<?xml version="1.0"?>

<robot name="cu_kinova" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro" />
    <xacro:include filename="$(find cu_kinova_description)/urdf/table.urdf.xacro" />
    
    <link name="wall">
        <visual>
            <geometry>
                <box size="2 0.2 3"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="3 0.5 3"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>

    </link>
    <joint name="wall_joint" type="fixed">
        <parent link="table" />
        <child link="wall" />
        <origin xyz="-0.18238 1.1074 1.5" rpy="0 0 0.43" />
    </joint>
    <xacro:table length="0.8" width="1.6" height="0.72" name="table" /> 
    <xacro:table length="0.6" width="1" height="0.735" name="operator_table" /> 
    <joint name="operator_table_joint" type="fixed">
        <parent link="table" />
        <child link="operator_table" />
        <origin xyz="-0.7 0 0" rpy="0 0 0" />
    </joint>
    <xacro:property name="clearance_height" value="0.3"/>
    <material name="clearance_volume">
        <color rgba="0.6 0.4 0.2 0.2"/>
    </material>
    <link name="operator_clearance">
        <visual>
            <geometry>
                <box size="0.6 1 ${clearance_height}"/>
            </geometry>
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <material name="clearance_volume"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.6 1 ${clearance_height}"/>
            </geometry>
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
        </collision>
    </link>
    <joint name="operator_clearance_joint" type="fixed">
        <parent link="operator_table_top"/>
        <child link="operator_clearance"/>
        <origin xyz="0.0 0.0 ${clearance_height/2}" rpy="0 0 0"/>
    </joint>

    <xacro:macro name="base_mount" params="side">
        <link name="${side}_base_mount">
            <visual>
                <geometry>
                    <cylinder radius="0.075" length="0.02"/>
                </geometry>
                <origin xyz="0 0 0.01" rpy="0 0 0"/>
                <material name="black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="0.08" length="0.02"/>
                </geometry>
                <origin xyz="0 0 0.01" rpy="0 0 0"/>
            </collision>
        </link>

        <joint name="${side}_base_mount_to_base_joint" type="fixed">
            <child link="${side}_base_link" />
            <parent link="${side}_base_mount" />
            <origin xyz="0 0 0.02" rpy="0 0 0"/>
        </joint>
    </xacro:macro>

    <xacro:base_mount side="left" />
    <xacro:base_mount side="right" />

    <joint name="table_top_to_left_base_mount_joint" type="fixed">
        <child link="left_base_mount" />
        <parent link="table_top" />
        <origin xyz="-0.31451 0.53471 0.00" rpy="0 0 -0.03490658503988659"/>
    </joint>

    <joint name="left_to_right_base" type="fixed">
        <child link="right_base_mount" />
        <parent link="left_base_mount" />
        <origin xyz="0.0311126 -1.05908 0" rpy="0 0 0.04363323129985824" />
    </joint>

    <xacro:load_robot 
        arm="gen3"
        gripper="robotiq_2f_85"
        dof="7"
        vision="true"
        sim="false"
        prefix="left_"
    />

    <xacro:load_robot
        arm="gen3"
        gripper="robotiq_2f_85"
        dof="7"
        vision="true"
        sim="false"
        prefix="right_"
    />
</robot>
