<?xml version="1.0"?>

<robot name="cu_kinova" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro" />

    <link name="table_top" />
    <link name="table">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8 1.6 0.3"/>
            </geometry>
            <material name="dark_brown">
                <color rgba="0.4 0.1 0.1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8 1.6 0.3"/>
            </geometry>
        </collision>
    </link>
    <joint name="table_top_joint" type="fixed">
        <parent link="table"/>
        <child link="table_top"/>
        <origin xyz="0 0 ${0.3/2}" rpy="0 0 0"/>
    </joint>

    <joint name="table_top_to_left_base_joint" type="fixed">
        <child link="left_base_link" />
        <parent link="table_top" />
	<!-- TODO: model the black mounting plates that represent the 0.02m in z -->
        <origin xyz="${-0.4+0.09} ${0.8-0.29} 0.02" rpy="0 0 0"/>
    </joint> 
    <joint name="left_to_right_base" type="fixed">
        <child link="right_base_link" />
        <parent link="left_base_link" />
        <origin xyz="-0.0291376 -1.0805 0" rpy="0 0 0" />
    </joint>

    <xacro:load_robot 
        arm="gen3"
        gripper="robotiq_2f_85"
        dof="7"
        vision="true"
        sim="false"
        prefix="left_"
    />

    <xacro:load_robot
        arm="gen3"
        gripper="robotiq_2f_85"
        dof="7"
        vision="true"
        sim="false"
        prefix="right_"
    />
</robot>
